[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Fast Serverless Functions for Kubernetes
[access "refs/*"]
	owner = group user/msshroff
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/msshroff
	label-Verified = -1..+1 group user/msshroff
	push = group user/msshroff
	read = group user/msshroff
	rebase = group user/msshroff
	removeReviewer = group user/msshroff
	submit = group user/msshroff
[access "refs/heads/*"]
	create = group user/msshroff
	push = +force group user/msshroff
	pushMerge = group user/msshroff
	read = group user/msshroff
[access "refs/tags/*"]
	push = group user/msshroff
	push = +force group user/msshroff
